<div id="header">
  <a href="http://www.ted.com/" target="_blank">
    <img class="logo" src="/assets/ted.png"/>
  </a>
</div>
<div id="list"></div>
<div id="details">
  <a target="_blank"><div class="detail-title"></div></a>
  <div class="detail-publish-info">
    <span class="detail-author"></span> | 
    <span class="detail-date"></span>
  </div>
  <div class="detail-content"></div>
  <div class="detail-video">
  <iframe id="iframe" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
</div>