body {
  text-rendering: optimizeLegibility;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  position: relative;
  word-wrap: break-word;
  font-family:Open Sans Condensed;
  overflow:hidden;
}

a {
  text-decoration: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  background-color: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4b4b4b), to(#222222));
  background-image: -moz-linear-gradient(top, #4b4b4b, #222222);
  background-image: -ms-linear-gradient(top, #4b4b4b, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b4b4b), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #4b4b4b, #222222);
  background-image: -o-linear-gradient(top, #4b4b4b, #222222);
  background-image: linear-gradient(top, #4b4b4b, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);

}

#details {
  width:70%;
  background-color:lightgrey;
  height:100%;
  overflow:hidden;
  margin-top:60px;
  position:fixed;
  top:0px;
  right:0px;
  box-shadow: -4px 2px 10px 1px #aaaaaa;
}

#list {
  padding: 0;
  background-color: #F4F4F4;
  display: block;
  width:30%;
  overflow:scroll;
  height:100%;
  position:fixed;
  top:60px;
  left:0px;
}

.logo {
  width:120px;
  height:40px;
  margin:10px;
}

.list-container {
  padding:0;
  margin:0;
  list-style: none;
  margin-bottom:60px;
}

.entry-container {
  border-bottom: 1px dotted #878787;
  padding:10px;
}

.entry-container:hover {
  background-color: #FAFAFA;
  cursor:pointer;
}

.title {
  color:#ff2b06;
  text-decoration:none;
  font-size:16px;
  padding-top:10px;
}

.date {
 font-size:14px;
  padding-top:5px;
  color:darkgray;
}

.content-snippet {
  padding-top:10px;
  color:grey; 
}

.detail-title {
  color:#ff2b06;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  font-size:40px;
  margin-top:20px;
  text-align:center;
}

.detail-title:hover {
  color:black;
}

.detail-publish-info {
  width:100%;
  text-align:center;
  margin-top:20px; 
  color:darkgray;
  font-size:18px;
  font-weight:bold;  
}

.detail-content {
  display:block;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  color:gray;
  font-size:25px;
  margin-top:20px;
}

.detail-video {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  height:40%;
  margin-top:30px;
}